<h1>User Stories</h1>
<%= link_to 'New User Story', new_user_story_path %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @user_stories.each do |user_story| %>
      <tr>
        <td scope="row"><%= link_to user_story.number, user_story%></td>
        <td><%= user_story.title %></td>
        <td class="text-right"><%= number_with_precision(user_story.points, precision: 0) %> P.</td>
          </tr>
    <% end %>
  </tbody>
</table>

<br>
